<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style>
        body {
            color: #e8e6e3;
            background-color: #131516;
            margin: 30px;
        }

        h2 {
            padding: 5px;
            margin: 2px;
        }

    </style>
    <title></title>
</head>
<body>
{% for aoc_year in aoc_years %}
    <h2>
        <u>{{ aoc_year.year }}</u>
        {% for aoc_day_summary in aoc_year.summary.values() %}
            {% if aoc_day_summary == 0 %}
                <img src="{{ static_path }}/star_empty.png" alt="star_empty" width="20"/>
            {% elif aoc_day_summary == 1 %}
                <img src="{{ static_path }}/star_dust.png" alt="star_dust" width="20"/>
            {% elif aoc_day_summary == 2 %}
                <img src="{{ static_path }}/star.png" alt="star" width="20"/>
            {% endif %}
        {% endfor %}
    </h2>
{% endfor %}
</body>
</html>
